<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a href="/mypic">MY PiC</a>
            </li>
            <li class="main-header__item">
                <a href="/family">Family</a>
            </li>
            <li class="main-header__item">
                <a href="/friends">Friends</a>
            </li>
            <li class="main-header__item">
                <a href="/photography">Photography</a>
            </li>
           
            <li class="main-header__item">
                <a href="/admin/add-new">Add New </a>
            </li>
        </ul>
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a href="/signup">Signup</a>
            </li>

        </ul>
    </nav>
</header>